<!doctype html>
<!-- uncomment lines 6 and 11 and change to hte vnclub logo when ready -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <meta property="og:image" content="/img/{{ title }}/gameimage.webp"/> -->
    <meta property="og:site_name" content="thatsvnclub"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta name="description" content="{{ description }}"/>
    <title>{{ title }}</title>
    <!-- <link rel="icon" type="image/x-icon" href="img/fav.gif"> -->
    <link rel="stylesheet" href="{{ stylebb }}?v=0.4" type="text/css">
  </head>
  <body>
    {% include "partials/nav.html" %}
    <main>
      <div class="postpage">
      {% block content %}
    {{ content | safe }}
    {% endblock %}
      </div>
      <center>
{% set previousPost = collections.post | getPreviousCollectionItem %}
{% set nextPost = collections.post | getNextCollectionItem %}
{% if previousPost or nextPost %}
  <nav class="postnav" aria-label="pagination">
    {% if previousPost %}
      <a href="{{ previousPost.url }}">🠈</a>
    {% endif %}
    <span>&nbsp;</span>
    {% if nextPost %}
      <a href="{{ nextPost.url }}">🠊</a>
    {% endif %}
  </nav>
  </center>
{% endif %}
      <hr />
    </main>
  </body>
</html>
