<!doctype html>
<html lang="en">
  <head>
    <!-- delete this line and uncomment the line below if vnclub is added to the milkmedicine webchain -->
    <!-- <link rel="webchain" href="https://webchain.milkmedicine.net/"> -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="img/tvnc.png"/>
    <meta property="og:site_name" content="that's vn club!"/>
    <meta property="og:description" content="{{ description }}"/>
    <meta name="description" content="{{ description }}"/>
    <title>{{ title }}</title>
    <link rel="icon" type="image/x-icon" href="img/fav.png">
    <link rel="stylesheet" href="{{ stylebb }}?v=0.1" type="text/css">
  </head>
  <body>
    {% include "partials/nav.html" %}
    <main>
    {% block content %}
    {{ content | safe }}
    {% endblock %}
    </main>
  </body>
</html>
