/* Destroy the ridiculous default values */
html,body,div,span,iframe,h1,h2,h3,h4,p,pre,del,em,img,b,i,dl,dt,dd,ol,ul,li,form,table,tbody,tr,th,td,article,aside,footer,header,nav,section,hr{
margin:0;
padding:0;
border:0;
outline:0;
font-size: 20px;
}

/* add fonts */
@font-face{
font-family:atkinson;
src: url('fonts/atkinson.otf');
}
@font-face{
font-family:constan;
src: url('fonts/constanb.ttf');
}
@font-face{
font-family:profont;
src: url('fonts/profont.ttf');
}
/* from here down is where stuff actually starts getting styled */
/* this is such a scuffed fix for making everything smaller */
:root {
--clra: #fc313f;
--clrb: #181818;
--clrc: #1f1f1f;
--clrd: #ded;
}
html {
font-family: atkinson;
background-color: var(--clrc);
color: var(--clrd); 
zoom: 0.85;
}
ol {
  list-style-type: none;
}

h1 {
font-size: clamp(2rem, 4vw, 2.5rem);
font-family: constan;
-webkit-text-stroke: 1px var(--clrb);
color: var(--clra);
text-shadow: 0 0 3px var(--clra);
}
h2 {
font-size: clamp(1.5rem, 3.5vw, 2rem);
font-family: constan;
-webkit-text-stroke: 1px var(--clrb);
color: var(--clra);
text-shadow: 0 0 3px var(--clra);
}
a {
color: var(--clra);
}
a:hover {
color: var(--clrd);
}
hr {
border-top: 1px solid var(--clra);
text-align: center;
width: 75%;
margin: 0.5px auto;
margin-bottom: -15px;
}
hr:after {
content: 'I';
display: inline-block;
position: relative;
top: -16px;
margin-bottom: 1vh;
color: var(--clra);
font-size: 30px;
}
/* styles navigation banner */
nav {
display: flex;
margin: 3vh 1vw 0;
justify-content: center;
}
nav h1, nav li {
font-size: clamp(1rem, 4vw, 2.5rem);
display: inline-flex;
justify-content: center;
margin: 1vh 2vw;
}
/* styles blog list on index.html */
.blogbox {
background-color: var(--clrb);
padding-top: 5px;
padding-left: 5px;
padding-bottom: 5px;
margin: 5vh auto;
border-radius: 10px;
width: fit-content;
max-width: 85%;
font-size: clamp(1.25rem, 3vw, 2.5rem);
}
.blogbox h1 {
  text-align: center;
}
.posts {
display: grid;
margin: 0 2vw;
grid-template-columns: auto auto;
}
@media screen and (max-width: 640px) {
.posts {
  grid-template-columns: none;
}
}
.posts a {
font-size: clamp(1.25rem, 3vw, 2.5rem);
}
.postdate {
margin-right: 2vw;
font-size: clamp(1.25rem, 3vw, 2.5rem);
}
.postdate:before {
content: ':';
opacity: .75;
}
.postdate:after {
content: ':';
opacity: .75;
}
#postsep {
font-size: clamp(1.25rem, 3vw, 2.5rem);
color: var(--clrd);
}
#archivelink {
  font-size: clamp(1.25rem, 3vw, 2.5rem);
  display: flex;
  margin-top: 3vh;
  justify-content: center;

}
/* styles latest.html partial */
.latest {
background-color: var(--clrb);
padding-left: 5px;
margin: 0 1vw 1vh;
border-radius: 10px;
}
.center {
  text-align: center;
}

@media screen and (max-width: 500px) {
.latest {
padding-left: 0;
margin: 0 0 0;
}
}
.latest h1 {
  text-decoration: underline;
}
.latest img {
  border: solid 2px var(--clra);
  border-radius: 10px;
  margin: 2vh 0;
}
.latest p {
  font-size: clamp(1.25rem, 2vw, 2rem);
}
.playlink {
  display: table;
  margin: 2vh auto;
  font-size: clamp(1.5em, 1.5vw, 2em);
}
.playlink:before {
  content: ">";
  font-family: profont;
  animation: opacity 2s infinite;
  padding: 0 1vw;
}
.playlink:after {
  font-family: profont;
  content: "<";
  animation: opacity 2s infinite;
  padding: 0 1vw;
}
@keyframes opacity {
  50% {opacity: 0;}
}
/* styles members.html */
.whotext {
  width: 75%;
}
.whotext p {
  font-size: clamp(1.25rem, 2vw, 2.25rem);
  margin-bottom: 2vh;
}
.memberblock {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.member {
  display: flex;
  background-color: var(--clrb);
  width: 80%;
  min-width: 75%;
  border-radius: 10px;
  padding: 2vh 2vw;
  margin: 2vh 0;
}
.member:nth-child(odd) {
  align-self: flex-start;
  flex-direction: row-reverse;
}
.member:nth-child(even) {
  align-self: flex-end;
}
.member h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  text-align: center;
}
.member img {
  border: solid 1px var(--clra);
  border-radius: 5px;
  width: 100%;
  height: auto;
  max-width: 300px;
}
@media screen and (max-width: 960px) {
.member {
 display: flex;
flex-direction: column!important;
}
.member img {
max-width: 150px;
height: auto;
margin: 0 auto 5px;
}
.member p {
  text-align: center;
}
}
.member p {
  font-size: clamp(1.25rem, 2vw, 2rem);
  margin-top: -30px;
  margin-left: 5vw;
  margin-right: 5vw;
}
.membertext {
  margin: 0 2vw;
}
.membertext a {
  font-size: clamp(1.25rem, 2vw, 2rem);
  display: block;
  margin-top: 2vh;
  text-align: center;
}
/* styles post page */
.postpage {
  background-color: var(--clrb);
  width: fit-content;
  min-width: 75%;
  display: grid;
  margin: 5vh auto;
}
.postpage h1 {
  text-align: center;
  border-bottom: solid 1px var(--clra);
}
.postpage p {
  font-size: clamp(1.25rem, 2vw, 2rem);
  margin: 2vw 3vh 2vw 3vh;
  padding-bottom: 3vh;
  border-bottom: solid 1px var(--clra);
}
.postnav {
  font-size: clamp(1.25rem, 2vw, 2rem);
}
/* styles archive page */
.archiveprelink {
  text-align: center;
}
.archiveposts p {
  border-bottom: none;
  margin-bottom: 0;
}
.archivelink {
  border-bottom: solid 1px var(--clra);
  font-size: clamp(1.25rem, 3vw, 2.5rem);
}
.taglist ul {
  margin: 3vh 3vw;
}
.taglist li {
  font-size: clamp(1rem, 2vw, 1.5rem);
  border: 1px solid var(--clrd);
  padding: 3px 3px;
  width: fit-content;
  display: inline-flex;
}
.postbytag {
  display: flex;
  margin: 3vh auto;
}
.postbytag li {
  font-size: clamp(1.5rem, 3vw, 2rem);
}
