---
layout: layoutarchive.html
title: 'archive'
description: that's vn club!
permalink: /archive.html
stylebb: css/style.css
---
<h1>Tags</h1>
<section class="taglist">
      <ul>

      {% set orderedCollection = collections | sortObjectByKey | filterTags  %}
      {%- for tag, posts in orderedCollection %}
        <li><a href="#" class="tagButton" id="{{ tag }}"><strong>{{ tag }}</strong></a> - {{ posts | length }}
          {% if posts.length > 1%}
          posts
          {% else %}
          post
          {% endif %}
        </li>
      {%- endfor -%}

      </ul>
</section>
<section class="blogbox">
  <h1>Archive</h1>
  <ol class="archiveposts">
{% for post in collections.post | reverse %}
<li class="{{post.data.tags | filterPostTags}}">
  <div class="archiveprelink"><p><span class="postdate">{{ page.date | postDate}}</span></div><div class="archivelink"><a href="{{ post.url }}" class="archivepost">{{ post.data.title }}<span id="postsep"> - </span>{{ post.data.description }}...</a></p></div>
</li>
{% endfor %}
  </ol>
</section>
<script>

const tagButtons = document.querySelectorAll('.tagButton');
const allTags = [];
for (let i of tagButtons) {
  allTags.push(i.id);
    i.addEventListener('click', () => {
      const tagName = i.id;
      if (document.querySelector('body').classList.contains(tagName)) {
        document.querySelector('body').classList.remove(tagName);
      } else {
        document.querySelector('body').classList.add(tagName);
      }
    });
}
for (let i of allTags) {
  const style = document.createElement('style');
  style.textContent = `
  body.${i} li:has(#${i}) {background-color: #fc313f; color: #181818;}
  body.${i} a#${i} {color: #181818;}
  body.${i} .archiveposts li:not(.${i}) {display: none;}
  html body.${i} .archiveposts li.${i} {display: block;}
  `;
  document.head.appendChild(style);
}
</script>
<!-- i dont know if this is the right way to do it but i tried using a click event and it didnt work then this other thing i saw on stack exchange then instead of trying to click since that didnt work i added this bullshit to just like apply the tag the way your js does i think???? this is way above me and part reddit part stackexchange part odingproject -->
<script>
  function applyFilterFromHash() {
  const hash = window.location.hash.replace("#", "");
  if (!hash) return;
  const body = document.body;
  const button = document.getElementById(hash);
  if (!button) return;
  document.querySelectorAll(".tagButton").forEach(btn => {
    body.classList.remove(btn.id);
  });
  body.classList.add(hash);
}
window.addEventListener("load", applyFilterFromHash);
window.addEventListener("hashchange", applyFilterFromHash);
</script>
