
<section class="blogbox">
  <h1>News</h1>
  <hr />
  <section class="posts">
{% for post in collections.post | reverse | itemLimit(5) %}
<div class="postprelink"><p><span class="postdate">{{ post.data.date | postDate}}</span></div><div class="postlink"><a href="{{ post.url }}" class="blogpost">{{ post.data.title }}<span id="postsep"> - </span>{{ post.data.description }}...</a></p></div>
{% endfor %}
  </section>
  <section class="archiverss">
<a href="/archive.html" id="archivelink">Archive</a>
<a href="https://thatsvn.club/feed.xml" id="archivelink">RSS</a>
  </section>
</section>
